<div class="container">
  <div class="custom-card-2 mt-5">
    <h3 class="font-color">About US</h3>
    <hr>

    <div>
      Welcome to our weather details website! We aim to provide you with comprehensive and up-to-date information about
      the weather conditions in your area and around the world. Our platform is designed to assist you in planning your
      day, making informed decisions, and staying prepared for any weather-related events.

      Here are some key features and benefits of using our weather details website:
    </div>

    <ol class="mt-2">
      <li>
        Accurate Weather Forecasts: Our website uses advanced meteorological data from trusted sources to offer
        precise and reliable weather forecasts. Whether you need to know the temperature, precipitation, wind speed, or
        humidity levels, we provide you with the most accurate and timely information available.

      </li>
      <li>
        Real-Time Updates: Stay informed about the latest weather conditions with our real-time updates. Our website
        constantly refreshes the data to ensure you have access to the most current weather information. You can rely on
        us to keep you informed about any sudden changes in the weather patterns.

      </li>
      <li>
        Location-Based Weather: Our website allows you to personalize your weather experience by providing
        location-based forecasts. Simply enter your city or enable location services, and we'll deliver weather details
        specific to your area. Whether you're at home, traveling, or planning an outdoor activity, you can always check
        the weather for your exact location.

      </li>
      <li>
        Hourly and Daily Forecasts: Plan your day effectively with our hourly and daily forecasts. We provide
        detailed breakdowns of the weather conditions throughout the day, helping you decide when to expect rain, when
        the temperature will be at its peak, or when the wind speed might increase. Our website enables you to make
        informed choices based on the weather predictions for different times of the day.

      </li>
      <li>
        Extended Forecasts: Looking ahead to the upcoming week or even the month? Our extended forecasts offer you a
        glimpse into the weather trends for the days ahead. Whether you're planning a vacation, organizing an outdoor
        event, or simply curious about the weather in the near future, our website can provide you with valuable
        insights.

      </li>
      <li>
        Interactive Maps: Visualize the weather patterns with our interactive maps. Our website features detailed
        maps that show radar, satellite imagery, and other relevant weather data. You can zoom in on your area or
        explore different regions to get a comprehensive view of the weather conditions around you.

      </li>


    </ol>
  </div>
</div>
